name: Nasa Project CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    env:
      CI: true
      MONGODB_URI: mongodb://localhost/nasa
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: '6.0'
          mongodb-port: '27017'

      - name: Install server dependencies
        run: npm install

      - name: Install client dependencies
        run: npm install --prefix client

      - name: Build client
        run: npm run build --prefix client

      - name: Test client
        run: npm test --prefix client
